.WeatherForecast {
  text-align: center;
  .forecast-section {
    .forecast-item {
      .temperatures {
        .min {
          color: rgb(209, 234, 243);
          margin-left: 5px;
        }
      }
    }
  }
}
